{% extends "tasks/base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create" %}">Create task</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    <h1>To-Do List</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <p>Type(s): {% for type in task.type.all %}{{ type.type_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                        <h5 class="card-title">{{ task.name }}</h5>
                        <a href="{% url "task_view" task.pk %}" class="card-link" style="color: mediumpurple">More</a>
                    </div>
                </div>
            </div>
        {% empty %}
        {% endfor %}
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
    </div>
{% endblock %}